$font-stack: Arial;
$light-color: #00FFFF;
$backgroundOne-color: #202c32;
$backgroundTwo-color: #7393B3;

@mixin gradient ($backgroundOne-color, $backgroundTwo-color){
  background: linear-gradient(to right, $backgroundOne-color, $backgroundTwo-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
     @include gradient($backgroundOne-color, $backgroundTwo-color);
    font-family: Arial;
    line-height: 1.6;
    color: $light-color;
    padding: 10px 20px;
    header {
      display: flex;
      margin: 0 auto;
    h2 {
      padding-top: 50px;
      color: $light-color;
      display: flex;
      margin: 0 auto;
      font-size: 2rem;
    }
  }
    #budget-form{
      display: flex;
      justify-content: center;
      margin: 30px auto;
      gap: 20px;
    }
    #expense-form{
      display: flex;
      justify-content: center;
      margin: 30px auto;
      gap: 20px;
    }
    input {
      width: 170px;
      height: 60px;
      padding-left: 10px;
      font-size: 12px;
    }
    input::placeholder{
      padding-left: 1px;
    }
    img {
      display: flex;
      height: 200px;
      margin: 40px auto 0px;
    }
    button{
      width: 220px;
      height: 70px;
      background-color: #1c7e81;
      color: $light-color;
      font-style: italic;
      font-size: 1.4rem;
      padding-top: 5px;

      :hover{
        transform: scale(1.15);
        cursor: pointer;
      }
    }
    .budget-notes{
      display: flex;
      justify-content: center;
      gap: 60px;
      font-size: 30px;
      cursor: pointer;
      :hover{
        text-decoration: underline;
      }
    }
    h3{
      display: flex;
      justify-content: center;
      margin: 20px auto;
    }
    .message{
      display: flex;
      justify-content: center;
      margin: 20px auto;
      color: rgb(158, 222, 158);
      font-size: 1.4rem;
      font-style: italic;
    }
    .message-two{
      display: flex;
      justify-content: center;
      margin: 20px auto;
      color: rgb(243, 158, 158);
      font-size: 1.4rem;
      font-style: italic;
    }
    #refresh-button {
      display: flex;
      justify-content: center;
      margin: 20px auto;
      padding-top: 15px;
    }
    }


@media screen and (max-width: 1126px) and (min-width: 695px){
body {
  width: 100vw;
  h2 {
    font-size: 1.2rem;
  }
  input{
    font-size: 14px;
  }
  button {
    width: 120px;
    font-size: 20px;
  }
 p {
  font-size: 1.2rem;
 }
}
}

@media screen and (max-width: 694px) and (min-width: 330px){
  body {
     width: 100vw;
  h2{
    font-size: 1.02rem;
  }
  input {
    width: 150px;
    font-size: 12px;
  }
  button{
     font-size: 14px;
     width: 100px;
  }
  p{
    font-size: 1.05rem;
  }
}
}